<html>
<body>
    <h1>Accueil</h1>
    <h2>listes produits</h2>
    <ul>
        <li>
            <a href="{{ path('product', {'productId':product.id}) }}">
            </a>

        </li>
    </ul>
</body>
</html>