{% extends 'base.html.twig' %}

{% block title %}Inscription réussi!!{% endblock %}

{% block body %}
    <div class="confirmation-top">
        <h1>Vous êtes bien inscrit</h1>
    </div>

{% endblock %}
